# Remove already annotated examples from input dataset

In [1]:
import pandas

## Get entire input dataset

In [2]:
input_df = pandas.read_csv('data/gu_resampled_by_section_id_full_name_all_aliases_kb_match_paragraphs.csv')
print(input_df.shape)
input_df.head(3)

(152616, 6)

,Unnamed: 0,url,paragraphs,doc_index,lower_paragraphs,alias
0,85094,www.theguardian.com/world/2014/aug/01/gaza-ple...,Years ago I made a pledge. To put children bef...,11532,years ago i made a pledge. to put children bef...,anita
1,53619,www.theguardian.com/uk-news/2022/jun/13/uk-ris...,"Maroš Šefčovič, the EU’s Brexit commissioner, ...",6880,"maroš šefčovič, the eu’s brexit commissioner, ...",maroš šefčovič
2,719140,www.theguardian.com/world/2020/feb/19/luise-da...,"In January 2019, the project Humanitarian Gest...",5976,"in january 2019, the project humanitarian gest...",anita

## Get annotated dataset

In [3]:
annotated_df = pandas.read_json('data/el_session_1.jsonl', lines=True)
print(annotated_df.shape)
annotated_df.head(3)

(1906, 16)

,text,_input_hash,_task_hash,gu_url,spans,meta,_is_binary,options,config,_view_id,accept,answer,_timestamp,_annotator_id,_session_id,flagged
0,Kerry negotiated the truce with the UN secreta...,-1661393295,898318062,www.theguardian.com/world/2014/aug/02/netanyah...,"[{'start': 0, 'end': 5, 'text': 'Kerry', 'rank...",{'score': 1},True,"[{'id': 'NER_WrongType', 'text': 'Incorrect en...",{'choice_style': 'multiple'},blocks,[NEL_NoCandidate],accept,1666974338,el_session_1-Anna,el_session_1-Anna,NaN
1,Kerry negotiated the truce with the UN secreta...,-1661393295,113964612,www.theguardian.com/world/2014/aug/02/netanyah...,"[{'start': 170, 'end': 175, 'text': 'Kerry', '...",{'score': 1},True,"[{'id': 'NER_WrongType', 'text': 'Incorrect en...",{'choice_style': 'multiple'},blocks,[NEL_NoCandidate],accept,1666974360,el_session_1-Anna,el_session_1-Anna,NaN
2,Will Johnson be any more successful at crackin...,-2125059446,1154980289,www.theguardian.com/politics/2019/aug/02/boris...,"[{'start': 5, 'end': 12, 'text': 'Johnson', 'r...",{'score': 1},True,"[{'id': 'NER_WrongType', 'text': 'Incorrect en...",{'choice_style': 'multiple'},blocks,[NEL_NoCandidate],accept,1666974395,el_session_1-Anna,el_session_1-Anna,NaN

## Remove annotated examples from input data

In [4]:
pruned_df = input_df[~input_df.paragraphs.isin(annotated_df.text)]
print(pruned_df.shape)
pruned_df.head(3)

(151785, 6)

,Unnamed: 0,url,paragraphs,doc_index,lower_paragraphs,alias
0,85094,www.theguardian.com/world/2014/aug/01/gaza-ple...,Years ago I made a pledge. To put children bef...,11532,years ago i made a pledge. to put children bef...,anita
12,902629,www.theguardian.com/politics/2016/feb/06/jerem...,Hoey has expressed concern about the role in V...,18837,hoey has expressed concern about the role in v...,michael gove
17,396555,www.theguardian.com/world/2015/oct/23/south-af...,The largest demonstration took place at the Un...,12452,the largest demonstration took place at the un...,jacob zuma

## Output resulting data in correct format (json)

In [5]:
pruned_df.rename(columns={"paragraphs":"text"}, inplace=True)
pruned_df[['text', 'url']].sample(frac=1, random_state=7).to_json(lines=True, orient="records", path_or_buf="data/el_session_2_input.jsonl")

/usr/local/Caskroom/miniconda/base/envs/jai_2022/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,