In [1]:
from typing import Iterator

import spacy
from spacy.kb import KnowledgeBase, Candidate #, get_candidates

import prodigy
from prodigy.models.ner import EntityRecognizer
from prodigy.components.loaders import TXT
from prodigy.util import set_hashes
from prodigy.components.filters import filter_duplicates

import csv
from pathlib import Path

In [2]:
nlp_dir='my_output/my_nlp'
kb_loc='my_output/my_kb'

In [3]:
nlp = spacy.load(nlp_dir)
kb = KnowledgeBase(vocab=nlp.vocab, entity_vector_length=1)
kb.from_disk(kb_loc)

In [17]:
kb.get_alias_candidates('Allen Wu')

In [1]:
import pandas as pd

In [2]:
kb_enties=pd.read_csv('lilsis_kb.csv')

In [12]:
kb_enties[kb_enties['name'].str.contains('Howard')]

,Unnamed: 0,id,name,context
491,227560,67105,Ron Howard,"Actor, director"
854,301428,183260,Howard Hawks,"Founder and chairman of Tenaska, a private ene..."
855,301429,247990,Howard Hawks,Film director
1609,423094,34434,Howard Dean,"79th Governor of Vermont HOWARD DEAN, M.D., wa..."
3489,567805,247674,Bryce Dallas Howard,"Actress, daughter of Ron Howard"
3671,576531,111230,John Howard,"NYS Deputy Commissioner, OGS"
3672,576532,157085,John Howard,former prime minister of Australia
3673,576533,207119,John Howard,NYPD
3992,592409,338360,Bernard Marmaduke Fitzalan-Howard,16th Duke of Norfolk
4447,607023,34446,Howard University,"Federally chartered, private, coeducational, h..."
4949,620023,34700,Alan Howard,Co-founder of UK hedge fund Brevan Howard It w...
5072,626676,133199,Howard Schultz,"Attorney, Howard Schultz Financial Services - ..."
5073,626677,176398,Howard Schultz,Founded Lighthearted Entertainment in 1992 Sch...
5463,643605,275300,Howard Shore,Pro-Brexit boss of Shore Capital and Commentat...
5855,658814,109072,Richard Howard,Poet
5856,658815,127259,Richard Howard,Managing Director at Hayman Capital Management...
5899,660145,149219,Howard Stern,"Longtime radio ""shock jock"""
6208,669228,107849,George Howard,Tanner
6209,669229,118106,George Howard,"President, Restoration Systems"

In [24]:
kb_enties[kb_enties['id']==93875]

      Unnamed: 0     id         name    context
4878      616746  93875  Michelle Wu  Attorney

In [5]:
alias='Adam Smith'

In [6]:
'Adam Smith' in kb.get_alias_strings()

True

In [10]:
len(kb.get_alias_strings())

5816

In [11]:
len(kb.get_entity_strings())

6756

In [14]:
alias='Adam Smith'
if not alias in kb.get_alias_strings():
    #return []
    print('return')

In [ ]:
kb_d={}
for string in kb.get_alias_strings():
    kb_d[string]=kb.vocab.strings[string]

In [40]:
kb_d['Adam Smith']

2579912878670315042

In [ ]:
alias_index = kb._alias_index.get(alias_hash)
alias_entry = kb._aliases_table[alias_index]

return [Candidate(kb=kb,
                  entity_hash=kb._entries[entry_index].entity_hash,
                  entity_freq=kb._entries[entry_index].freq,
                  entity_vector=kb._vectors_table[kb._entries[entry_index].vector_index],
                  alias_hash=alias_hash,
                  prior_prob=prior_prob)
        for (entry_index, prior_prob) in zip(alias_entry.entry_indices, alias_entry.probs)
        if entry_index != 0]

In [ ]:
# Export text as sentences

In [6]:
f = open("source_data.txt", "r")

In [7]:
source_text=list(f)

In [10]:
text_list=[]
for text in source_text:
    text_list.extend(text.split('. '))

In [12]:
import random

In [13]:
random.shuffle(text_list)

In [15]:
# list of names
# open file in write mode
with open(r'source_data_sentences.txt', 'w') as fp:
    for item in text_list:
        # write each item on a new line
        fp.write("%s.\n" % item)
    print('Done')

Done

In [4]:
entity_loc='kb_datasets/kb_entities.csv'
kb_entities=pd.read_csv(entity_loc, names=['qid','name','desc'])

In [5]:
kb_entities

,qid,name,desc
0,1,Walmart Inc.,Retail merchandising
1,2,ExxonMobil,"Oil and gas exploration, production, and marke..."
2,3,Chevron,Energy Company
3,4,General Motors Company,automobile manufacturer
4,5,ConocoPhillips,Texas-based oil and gas corporation
...,...,...,...
405998,427653,Anne McGuire,NaN
405999,427654,"Truscott Partners, LLC",The Meyer Family Private Investment company ba...
406000,427655,Garth Hankinson,"Executive Vice President, Chief Financial Offi..."
406001,427656,SVB Securities,"Boston, MA investment bank"
406002,427657,Jim Sabia,"President of Beer Division, Constellation Brands"

In [6]:
desc="This is the first sentence of the description. This is the second. And this is the third."

In [10]:
'.'.join(desc.split('.')[:2])+'.'

'This is the first sentence of the description. This is the second.'